*{
    margin: 0;
    padding: 0
}
.container{
    display: grid;
    background-color: black;
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:3fr 3fr fr;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 2rem 1rem;

}
.item{
    background-color: blueviolet;
  
}
.item1{
    background-color: aqua;
    grid-column-start:1 ;
    grid-column-end:3 ;
}
.item2{
    background-color: aqua;
    grid-column-start: 3;
    grid-row-start:1;
    grid-row-end: 3; 
}
.item3{
        background-color: aqua;
}

.item4{
    background-color: aqua;
    grid-row-start: 2;
    grid-row-end: 4;
}
.item5{
    background-color: aqua;
}
.item6{
    background-color: aqua;
}
.item7{
    background-color: aqua;
    grid-column-start: 2;
    grid-column-end: 5;
}
